*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

body{
    background-color: rgb(231, 227, 183);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.frame{
    height: 400px;
    width: 360px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 15px #68cdca, -5px -5px 10px #ffffff;

}

.heading{
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

#display{
    height: 60px;
    width: 100%;
    border: none;
    background: transparent;
    box-shadow:inset 2px 2px 10px #b4edf4, inset -5px -5px 10px #ffffff;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}

.buttons-group{
    display: flex;
    justify-content: space-around;
    

    
}

.button{
    width: 65px;
    height: 65px;
    border: none;
    outline: none;
    box-shadow: 5px 5px 10px #a33131, -5px -5px 10px #fafaf4;
    margin-bottom: 3px;
}

.button:active{
    box-shadow: inset 1px 1px 5px #babeec, inset -1px -1px 2px #ffffff;
}
